body { 
    display: flex;
    flex-direction: column;    
    width: 98vw;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: url(../../assets/img/img-bg.jpg) center center no-repeat fixed;
    background-size: cover;  
    overflow-x: hidden; 
}