.ri-menu-fill  {
    transition: all 350ms;
    font-size: 30px;
    padding: 20px;  
    display: none;
    position: absolute;
}

.ri-menu-fill:hover {
    background-color: #0000008e;
    border-radius: 10px;
}

@media (max-width:600px) {
    .ri-menu-fill {
        display: block;
        padding: 30px;
        right: 10px;
    }
}