.link {
    display: flex;
    align-items: center;
    text-decoration: none;  
    color: var(--main-color);
   font-size: 18px;
}

.link:hover {
  color: var(--primary-text-color)
}

.link:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 10px;
    background-color: var(--secondary-text-color);
}