.main-cards {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .main-cards {
        gap: 60px;
    }
}



.main-cards .itens {
    overflow: hidden;
    width: 100%;
}