.main-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    margin-bottom: 20px;
}

.main-cards .itens {
    overflow: hidden;
    width: 100%;
}