.main-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    width: 99vw;
    margin-top: 10px;  
}

@media (min-width:834px) {
    .main-nav {
        display: none;
        flex-direction: row;
        justify-content: center;
        margin-right: 550px;
    }    
}