.main-header {
    display: flex;
    position: relative;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    width: 99vw;
    margin-top: 10px;  
}

@media (max-width: 600px) {
    .main-nav {
        display: none;    
    }  
    .main-header {
        margin-bottom: 40px;
    }  
}