.main-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    width: 99vw;
    margin-top: 10px;  
}

@media  (max-width:834px) {
    .main-nav {
        display: none;
    }    

    .main-header {
        justify-content:baseline;
        background-color: #000;
        position:absolute;
    }

    .icon-menu i {
        display: flex;
        position: relative;
    }
}