.main-cards {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .main-cards {
        padding: 0px 15px 0px 10px;
        width: 101%;
    }
}

.main-cards .itens {
    overflow: hidden;
    width: 100%;
}