.main-section {
    width: 98vw;
    margin-top: 10px;   
}
/*variação da classe*/
.main-section.-project {
    background-color: #000000b2;
}

.main-section.-project img {
    height: 100px;
    width: 100px;
    background-color: #000;
    border-radius: 10px;
}

.main-section.main-section.-project .project-cards {
    margin-bottom: 10px;
}

