.main-ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 50px;
    list-style: none ;
    margin-right: 40px;
}

@media (max-width: 600px) {
    .main-ul {
        flex-direction:column;
        gap: 10px;
        background-color: #00000060;
        width: 100vw;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 884px) {
    .main-ul {
        gap: 40px;
       margin-right: 2px;
    }
}