.main-nav  i {
    font-size: 2.5rem;
   border: 2px solid #fff;
}

@media (max-width: 980px) {
     .main-nav > .main-ul {
        display: none;
    }
}


@media (min-width: 980px) {
    .main-nav > .icon-menu {
        display: none;
        text-align: center;
    }
}

