.main-section {
    width: 100vw;
    height: 950px;
    margin-top: 10px;   
}

.main-section.-project {
    height: 600px;
}

.main-section.-project img {
    height: 100px;
    width: 100px;
    background-color: #000;
    border-radius: 10px;
}

.main-section.main-section.-project .project-cards {
    margin-bottom: 10px;
}

@media  (max-width: 600px)  {
    #skill {
        margin-bottom: 500px;
    }

    #about {
        margin-top: 300px;
        margin-bottom: 200px;
    }
}

@media (max-width: 600px)  {
    .main-section.-project {
        margin-bottom: 700px;
    }
}

