.main-description {
    line-height: 1.5;
    text-align: center;
    text-indent: 30px;
    padding: 30px 50px 0 50px;
    font-weight: bold;
    color: #fff;
    background-color: #00000073;
    font-size: max(1.2rem, 2vw);
    height: 480px;  
    width: 90%;
    border-radius: 10px;
    margin: auto;
}

.main-description > a {
    color: var(--main-color);
}

.main-description > a:hover {
    color: var(--secundary-bg-color);
}

@media (max-width: 320px) {
    .main-description {
     font-size: 18px;
     padding: 5px;
    }
}

@media (min-width: 411px) and (max-width: 428px) {
    .main-description {
        font-size: 20.2px;
    }
}

@media (max-width: 600px) {
    .main-description {
        height: 705px;
        padding: 5px;
    }
}



