@charset "UTF-8";


:root {
    --main-color: #adff2f;
    --primary-text-color: #fff;
    --secondary-text-color: #1e1e1e;
    --secondary-color: #868686;
    --secundary-bg-color: #0fbcf9;
    --terciary-color: #eff3f4;
}

body { 
    display: flex;
    flex-direction: column;    
    width: 98vw;
    border: 2px solid red;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: url(../assets/img/img-bg.jpg) center center no-repeat fixed;
    background-size: cover;    
}

.img {
    height: 80px;
    width: 80px;  
    background-color: #00000060;
}

nav {
    border: none;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 50px;
    list-style: none ;
    margin-right: 40px;
}

.link-header, #btn {
    text-decoration: none;  
    color: var(--main-color);
}

.section-skills, .section-projects, .section-about, .section-contacts {
    border: 2px solid yellow;
    width: 98vw;
    margin-top: 10px;
    color: var(--terciary-color);
    text-align: center;
}

.title-section {
    text-shadow: 2px 2px var(--secondary-text-color);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.container-skills {
    border: 2px solid #808080;
}

.container-skills .img-skills {
    letter-spacing: 40px;
}

.section-two {
    border: 2px solid blue;
    width: 99vw;
    margin-top: 10px;
    color: var(--terciary-color)
}



