@charset "UTF-8";


:root {
    --main-color: #adff2f;
    --primary-text-color: #fff;
    --secondary-text-color: #1e1e1e;
    --secondary-color: #868686;
    --secundary-bg-color: #0fbcf9;
    --terciary-color: #eff3f4;
}

body { 
    display: flex;
    flex-direction: column;    
    width: 98vw;
    border: 2px solid red;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: url(../assets/img/img-bg.jpg) center center no-repeat fixed;
    background-size: cover;  
    overflow-x: hidden;  
}

#btn {
    text-decoration: none;  
    color: var(--main-color);
}

.title-section {
    text-shadow: 2px 2px var(--secondary-text-color);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.container-skills {
    border: 2px solid #808080;
}

.container-skills .img-skills {
    letter-spacing: 40px;
}

.section-two {
    border: 2px solid blue;
    width: 99vw;
    margin-top: 10px;
    color: var(--terciary-color)
}



