@charset "UTF-8";


:root {
    --main-color: #adff2f;
    --primary-text-color: #fff;
    --secondary-text-color: #1e1e1e;
    --secondary-color: #868686;
    --secundary-bg-color: #0fbcf9;
    --terciary-color: #eff3f4;
}

body { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 99vw;
    border: 2px solid red;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: url(../assets/img/img-bg.jpg) center center no-repeat fixed;
    background-size: cover;
    
}

img {
    height: 80px;
    width: 80px;    
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 50px;
    list-style: none ;
    margin-right: 40px;
}

.link-header, #btn {
    text-decoration: none;  
    color: var(--main-color);
}

.section-one {
    border: 2px solid yellow;
    width: 99vw;
    margin-top: 10px;
    color: var(--terciary-color)
}

.section-two {
    border: 2px solid blue;
    width: 99vw;
    margin-top: 10px;
    color: var(--terciary-color)
}

span {
    color: var(--primary-text-color);
}

.p-span {
    margin-bottom: 10px;
}

i {    
    font-size: 1.5rem;
    padding: 10px;
    color: var(--secondary-text-color);
    transition: all 350ms;
   
}

i:hover {
   filter: brightness(2.2); 
   transform: translateY(-6px);
}


